/* APP */
  .App {
    background-color: #f6f9fc;
  }
  /* html{
    background-image: url('');
  } */
  ul{
    display: flex;
    padding: 0;
    list-style-type: none;
  }
  h3{
    padding: 0;
    margin: 0;
  }
  p{
    margin: 0;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  a:visited{
    text-decoration: none;
    color: inherit;
  }
/* TITLE */
.title{
  text-align: center;
  background-image: url('http://iliketowastemytime.com/sites/default/files/rio-de-janeiro-brazil-hd-wallpaper.jpg');
  background-position-y: -200px;
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  /* position: relative; */
}
  .title > h1{
    color: white;
    margin-top: 40px;
  }
  .aboutMe{
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    padding: 20px;
    margin-bottom: 40px;
    position: absolute;
    top: 60%;
    right: 25%;
    width: 50%;
    background-color: rgb(221, 222, 224);
    /* DIV */
  }
    .aboutMe > h2 {
      margin: 5px 0;
    }
    .aboutMe > p {
      line-height: 1.5em;
      font-size: .9em;
      text-align: justify;
      /* P */
    }
/* CODING PROJECT */
.codingProjectsList{ 
  flex-direction: column;
  margin-top: 80px;
  /* UL */
}
  .codingProjectsList > h2{
    margin: auto;
    margin-bottom: 30px;
    max-width: 1000px;
    /* H2 */
  }
  .codingProjects{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    /* width: 80%; */
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    /* LI */
  }
    #codingProjectImage{
      width: 40%;
      height: inherit;
      overflow: hidden;
      transition: opacity 0.5s;
      /* border: 1px solid red; */
      /* DIV */
    }
      #codingProjectImage > img{ 
        /* border: 1px solid red; */
        width: 155%;
        height: 125%;
        /* IMG */
        }
    #codingProjectInfo{
      width: 60%;
      background-color: white;
      color: #525f7f;
      font-size: .8em;
      line-height: 1.5em;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 20px;
      /* DIV */
    }
      #projectTitle{
        text-align: center;
        font-weight: 500;
        font-size: 1.8em;
        line-height: 38px;
        color: #525f7f;
        padding-top: 15px;
        margin-bottom: 15px;
      }
      #projectDescription{
        margin-bottom: 10px;
      }
        #projectDescription > p{
          /* margin-bottom: 30px; */
          line-height: 27px;
          text-align: justify;
          padding-top: 5px;
          padding-right: 35px;
        }
      #projectPurpose{
        margin-bottom: 10px;
      }
        #projectPurpose > p{
          line-height: 27px;
          text-align: justify;
          color: #525f7f;
          padding-top: 5px;
          padding-right: 35px;
          /* P */
        }
      .techNameList{
        display: flex;
        flex-direction: row;
        /* UL */
      }
        .techName{
          border: 2px solid #92eac0;
          border-radius: 4px;
          padding: 8px;
          color: #525f7f;
          margin-right: 10px;
          margin-bottom: 10px;
          /* font-family: Camphor,Open Sans,Segoe UI,sans-serif; */
          font-size: .85em;
          /* LI */
        }
      .project-links{
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
        .demoButton, .codeButton{
          color: white;
          margin-right: 20px;
          margin-top: 20px;
          white-space: nowrap;
          display: inline-block;
          line-height: 40px;
          padding: 0 14px;
          box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
          border-radius: 4px;
          letter-spacing: .025em;
          text-decoration: none;
          transition: all .15s ease;
          /* font-family: Camphor,Open Sans,Segoe UI,sans-serif; */
          font-size: .9em;
          font-weight: 600;
          box-sizing: border-box;
          background: blue;
           /* #747fe0; */
          
        }

/* MEDIA QUERY */
/* @media (min-width: 1010px) {

} */
@media (max-width: 1100px) {
  .codingProjects{
    margin-left: 35px;
    margin-right: 35px;
  }
  .codingProjectsList > h2{

  }
}
@media (max-width: 1000px) {
  #codingProjectImage{
    width: 0%;
  }
  #codingProjectInfo{
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
    /* DIV */
  }
}
@media (max-width: 800px) {
  .codingProjectsList{ 
    margin-top: 100px;
    /* UL */
  }
}
@media (max-width: 650px) {
  .aboutMe{
    position: relative;
    margin: auto;
    top: 0%;
    right: 0%;
    width: 80%;
    /* DIV */
  }
  .codingProjectsList{ 
    margin-top: 30px;
    /* UL */
  }
}


