html{
  /* background-color: #f6f9fc; */
  /* background-color: #3b9edb; */
}
/* ================ APP ================ */
.App {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
ul{
  display: flex;
  padding: 0;
  list-style-type: none;
}
h3{
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
a:visited{
  text-decoration: none;
  color: inherit;
}
/*================ MACBOOK ================  */
.macBook{
} 
  #background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(199, 195, 195) 5%, rgb(114, 114, 112) 15%, rgb(79, 80, 79) 60%);
    left: 0;
    right:0;
    bottom:0;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
    z-index: -2;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
  .macBook > h1{
    position: absolute;
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    text-shadow: 4px 4px rgb(3, 3, 3);
    margin: auto;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    letter-spacing: 25px;
    opacity: 1;
    /* margin-top: 90px; */
    font-size: 5.5em;
    color: rgb(248, 241, 241);
    z-index: 3;
    padding-bottom: 1px;
    margin-bottom: 1px;
  }
  /* .macBook > h1:after{
      content: " ";
      border: 1px solid #747fe0;
      display: block;
      margin: 0 auto;
      margin-top: 1px;
      width: 450px; */
      /* AFTER */
  /* } */
  .macBook > h4{
    position: absolute;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    text-shadow: 4px 4px rgb(3, 3, 3);
    margin: auto;
    transform: translate(-50%, 95%);
    top: 50%;
    left: 50%;
    letter-spacing: 4px;
    opacity: 1;
    margin-top: 5px;
    font-size: 1.0em;
    color: rgb(248, 241, 241);
    z-index: 3;
  }
  .arrow{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 5%;
    margin: 0 50%;
    left: -30px;
    z-index: -1;
  }
  .center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: 2px solid green; */
  }
  .monitor{
    width: 100%;
    height: 100%;
    background: #000;
    border-bottom: 30px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);    
  }
    /* .expand{
      min-width: 1000px;
      min-height: 100%;
    } */
    .neck{
      content: '';
      width: 70px;
      height: 60px;
      background: #bdbdbd;
      position: absolute;
      left: 50%;
      bottom: -35px;
      transform: perspective(100px) translateX(-50%) translateY(80%) rotateX(25deg) skewX(7deg);
      z-index: -1;
      transform-origin: bottom;
      box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);      
    }
    .base{
      content: '';
      width: 140px;
      height: 15px;
      background: #d8d8d8;
      position: absolute;
      left: 50%;
      bottom: -50px;
      transform: translateX(-50%) translateY(220%);
      z-index: 1;
      transform-origin: bottom;
      box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);      
    }
    .monitor > img{
      position: absolute;
      left: 50%;
      bottom: -325px;
      transform: translateX(-50%) scale(0.04)
    }
    .screen{
      width: 330px;
      height: 180px;
      background: rgb(29, 28, 28);
      border: 10px solid #000;
      border-radius: 10px 10px;
    }

/*================ PAGE ================  */
.page{
  position: absolute;
  /* top: 200px;
  left: 25%; */
  /* top: 60%; */
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  /* left: 20%; */
  opacity: 1;
  /* border: 2px solid blue; */
}
  .title{
    display: flex;
    /* position: relative; */
    flex-direction: column;
    /* height: 300px; */
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 80%;
    /* border: 1px solid red; */
    justify-content: center;
    /* text-align: center; */
    /* transition: all 0.2s ease-in; */
    /* transform: translate(60px, 0%); */
    opacity: 0;
  }
    .title > h1{
      font-size: 4.8em;
      margin-top: 40px;
      margin-bottom: 10px;
      padding: 40px 0 10px 0;
      color: #747fe0;
      max-width: 900px;
      vertical-align: middle;
      text-align: center;
      /* border: 1px solid red;  */
      /* margin: auto;    */
    }
      #titleCursor{
        background: rgb(196, 196, 196);
      }
    /* ABOUT ME */
    .title > h3{
      color: #525f7f;
      padding: 40px 0;
      max-width: 900px;
      vertical-align: middle;
      text-align: center;
      /* border: 1px solid red; */
      margin: auto;     
    }
    .aboutMe{
      /* border: 1px solid red; */
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      /* max-width: 800px; */
      /* margin-bottom: 30px; */
      color: #525f7f;
      /* width: 100%; */
      line-height: 2.0em;
      font-size: 1.2em;
      /* text-align: justify; */
      /* DIV */
    }


/*================ TERMINAL ================  */
#terminalContainer{
  width: 80%;
  margin: auto;
  /* transition: all 0.3s ease-in; */
  /* transform: translate(-70px, 0%); */
  opacity: 0;
  /* border: 1px solid red; */
}
  #terminalWindow{
      box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
      background-color: #f6f9fc;
      max-width: 900px;
      margin: auto;
      letter-spacing: 0.7px;
  }
    #terminalHead{
      height: 28px;
      background-color: #e4e3e5;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
      #red-circle{
        background-color: #f96256;
        border: 1px solid #f65549;
      }
      #yellow-circle{
        background-color: #fdbc3d;
        border: 1px solid #ffb524;
      }
      #green-circle{
        background-color: #33c948;
        border: 1px solid #2dbb41;
      }
      
      #red-circle, #yellow-circle, #green-circle{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 9px;
      }

    #terminalBody{
      /* border: 1px solid red; */
      box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
      border-radius: 0 0 4px 4px;
      background-color: rgba(90, 93, 122, 1);
      padding: 40px;

    }
      .terminal{
        margin-bottom: 20px;
        color: #e7d184;
      }
        .terminal > div > a{
          color: #35feff;
        }
        .response{
          color: #e7d184;
        }
        .terminalCommand{
          color: #f7f7f7;
          margin-bottom: 2px;
        }
        .terminalCommand span{
          margin-right: 5px;
          }
        #cursor{
          color: #cfcdcd;
          /* DIV */
        }
          .blink{
            margin-left: 10px;
            animation: blink-animation 0.7s steps(5, start) infinite;
            /* SPAN */
          }
          #terminalCursor{
            background: hsla(0,0%,97%,.65);
          }
        @keyframes blink-animation {
          to {
            visibility: hidden;
          }
        }
        @-webkit-keyframes blink-animation {
          to {
            visibility: hidden;
          }
        }
/*================ CODING PROJECT ================  */
.codingProjectsList{ 
  flex-direction: column;
  margin-top: 80px;
  /* UL */
}
  /* TITLE STYLE */
  .codingProjectsList > h2{
    color: #525f7f;
    margin: auto;
    margin-bottom: 60px;
    max-width: 1000px;
    /* H2 */
  }
    .codingProjectsList > h2:after{
      content: " ";
      border: 4px solid #747fe0;
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      width: 50px;
      /* AFTER */
    }
  /*  INDIVIDUAL PROJECTS  */
  .codingProjectsEven{
    background-color: white;
    padding: 50px 0px;
    width: 100%;
    /* border: 1px solid red; */
  }
  .codingProjectsOdd{
    /* background-color: white; */
    padding: 50px 0px;
    width: 100%;
    /* border: 1px solid red; */
  }
  .codingProjectsZero, .codingProjectsOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid green; */
    /* box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1); */
    /* LI */
  }
    .codingProjectsZero{
      flex-direction: row-reverse;
    }
    /* Image Container */
    #codingProjectImage{
      /* width: 70%; */
      display: flex;
      /* height: inherit; */
      /* overflow: hidden; */
      align-items: center;
      justify-content: center;
      /* transition: opacity 0.5s; */
      /* border: 1px solid red; */
      /* margin: auto; */
      /* DIV */
    }
      /* IMAGE */
      #codingProjectImage > img{ 
        /* border: 1px solid green; */
        box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
        max-width: 100%;
        max-height: 100%;
        /* width: 50%; */
        /* IMG */
        }
    #codingProjectInfo{
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #525f7f;
      font-size: 1.0em;
      line-height: 1.5em;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;
      /* border: 1px solid blue; */
      /* DIV */
    }
      #projectTitle{
        text-align: center;
        font-weight: 500;
        font-size: 2em;
        line-height: 38px;
        color: #525f7f;
        /* padding-top: 15px; */
        margin-bottom: 30px;
      }
      #projectDescription{
        margin-bottom: 10px;
      }
        #projectDescription > p{
          margin-bottom: 15px;
          font-weight: 500;
          line-height: 27px;
          text-align: justify;
          /* font-size: 2em; */
          padding-top: 5px;
          /* padding-right: 35px; */
          max-width: 450px;
        }
      #projectPurpose{
        margin-bottom: 10px;
      }
        #projectPurpose > p{
          line-height: 27px;
          text-align: justify;
          color: #525f7f;
          padding-top: 5px;
          /* padding-right: 35px; */
          max-width: 500px;
          /* P */
        }
      .techNameList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 450px;
        /* border: 1px solid red; */
        /* UL */
      }
        .techName{
          border: 2px solid #92eac0;
          border-radius: 4px;
          padding: 8px;
          color: #525f7f;
          margin-right: 10px;
          margin-bottom: 10px;
          /* font-family: Camphor,Open Sans,Segoe UI,sans-serif; */
          font-size: .85em;
          /* LI */
        }
      .project-links{
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
        .demoButton, .codeButton{
          color: white;
          margin-right: 20px;
          margin-top: 20px;
          white-space: nowrap;
          display: inline-block;
          line-height: 40px;
          padding: 0 14px;
          box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
          border-radius: 4px;
          letter-spacing: .025em;
          text-decoration: none;
          transition: all .15s ease;
          font-family: Camphor,Open Sans,Segoe UI,sans-serif;
          font-size: .9em;
          font-weight: 600;
          box-sizing: border-box;
          background: #747fe0;
          
        }
/*================ MEDIA QUERY ================  */
/* @media (min-width: 1010px) {

} */
@media (max-width: 1100px) {
  .codingProjects{
    margin-left: 35px;
    margin-right: 35px;
  }
  .codingProjectsList > h2{

  }
}
@media (max-width: 1000px) {
  .codingProjectsZero, .codingProjectsOne{
    flex-direction: column-reverse;
    justify-content: center;
  }
  #projectDescription > p{
    max-width: 1000px;
    /* P */
  }
  #projectPurpose > p{
    max-width: 1000px;
    /* P */
  }
  #codingProjectImage{
    /* width: 0%; */
  }
  #codingProjectInfo{
    width: 100%;
    
    padding: 35px;
    box-sizing: border-box;
    /* DIV */
  }
}
@media (max-width: 800px) {
  .codingProjectsList{ 
    margin-top: 100px;
    /* UL */
  }
  .macBook > h1{
    font-size: 5.0em;
    letter-spacing: 15px;
  }
}
@media (max-width: 650px) {
  .aboutMe{
    position: relative;
    margin: auto;
    top: 0%;
    right: 0%;
    width: 80%;
    /* DIV */
  }
  .codingProjectsList{ 
    margin-top: 30px;
    /* UL */
  }
  .macBook > h1{
    font-size: 3.0em;
    letter-spacing: 8px;
  }
}


